<div class="workshop-rhds-header">
  <a class="workshop-rhds-brand" href="../{{page.component.name}}/00-index.html" title="Red Hat Demo Platform">
    <img src="{{{uiRootPath}}}/img/logo-demo-platform.svg" alt="Red Hat Demo Platform logo" width="180" />
  </a>
  <span class="workshop-rhds-title">Hybrid Mesh AI Workshop</span>
</div>
<div class="workshop-lang-bar">
  <a href="../en/{{page.file.srcStem}}.html">EN</a>
  &nbsp;|&nbsp;
  <a href="../es/{{page.file.srcStem}}.html">ES</a>
  &nbsp;|&nbsp;
  <a id="workshop-register-link" href="#">Register</a>
  &nbsp;|&nbsp;
  <span class="workshop-user-badge">User: <strong class="workshop-user-name">%USER_NAME%</strong></span>
</div>
