<div class="workshop-lang-bar" style="margin:0.5rem 0;text-align:right;font-size:0.9rem;">
  <a href="../en/{{page.file.srcStem}}.html">EN</a>
  &nbsp;|&nbsp;
  <a href="../es/{{page.file.srcStem}}.html">ES</a>
  &nbsp;|&nbsp;
  <a href="https://workshop-registration.YOUR_HUB_DOMAIN">Register</a>
</div>
